# DATA CLEANING AND PREPROCESSING

**Data Source** : FRED [Federal Reserve Economic data]
              We have collected 20 years data of US Home Prices from FRED website

**Importing the necessary libraries**

In [1]:
# import pandas  library and make it as pd
import pandas as pd
# import numpy library and make it as np
import numpy as np
# import matplotlib.pyplot  and make it as plt its is used for visuvalization
import matplotlib.pyplot as plt
# import seaborn library and make it as sns
import seaborn as sns
from warnings import filterwarnings 
filterwarnings("ignore")

In [2]:
import os
directory_path="Cleaned data"
os.makedirs(directory_path,exist_ok=True)

# Target data
\\Load the data into pandas dataframe\\
**S&P/ case-shiller U.S. National home price index**

In [3]:
data=pd.read_csv("CSUSHPISA.csv",index_col=['DATE'])
# change the column name using rename 
data.rename(columns={"CSUSHPISA":"US HOME PRICE INDEX"},inplace= True)
data.head()

            US HOME PRICE INDEX
DATE
2003-01-01              128.461
2003-02-01              129.355
2003-03-01              130.148
2003-04-01              130.884
2003-05-01              131.735

In [4]:
data.index=pd.to_datetime(data.index)
data=data['2003-01-01':'2003-07-01']

In [5]:
data.shape

(7, 1)

In [6]:
data.count()

US HOME PRICE INDEX    7
dtype: int64

In [7]:
data.to_csv("Cleaned data/data.csv")

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7 entries, 2003-01-01 to 2003-07-01
Data columns (total 1 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   US HOME PRICE INDEX  7 non-null      float64
dtypes: float64(1)
memory usage: 112.0 bytes

In [9]:
data.describe()

       US HOME PRICE INDEX
count             7.000000
mean            131.001286
std               1.864718
min             128.461000
25%             129.751500
50%             130.884000
75%             132.192000
max             133.777000

In [10]:
data.isna().sum()

US HOME PRICE INDEX    0
dtype: int64

In [11]:
data.duplicated().sum()

0

#### The main key factors that influence US home prices nationally. We building a data science model that explains how these factors impacted home prices over the last 20 years.Using the S&P Case-Schiller Home Price Index as a proxy for home prices###

The S&P Case-Shiller U.S. Home Prices Index is influenced by various economic and demographic factors. Among the options you've listed, the main key factors that impact the S&P Case-Shiller U.S. Home Prices Index include:

1. POPTHM (Population)
2. GDP (Gross Domestic Product)
3. MORTGAGE RATE
4. HOUSING STARTS (HOUST)
5. MEDIAN SALES PRICE (MSPUS)
6. HOMEOWNERSHIP RATE (RSAHORUSQ1565)
7. UNRATE (Unemployment Rate)
These key factors play significant roles in influencing the S&P Case-Shiller U.S. Home Prices Index and are important considerations for understanding the dynamics of the housing market.

1. POPTHM (Population)
   - Changes in the population size and demographics can impact the demand for housing, subsequently influencing home prices.

In [12]:
population=pd.read_csv("POPTHM.csv")
population.rename(columns={"POPTHM":'POPULATION'},inplace= True)
population.set_index("DATE",inplace=True)
population.head()

            POPULATION
DATE
2003-01-01    289412.0
2003-02-01    289606.0
2003-03-01    289809.0
2003-04-01    290024.0
2003-05-01    290250.0

In [13]:
population.index=pd.to_datetime(population.index)
population=population["2003-01-01":"2023-07-01"]

In [14]:
population.shape

(247, 1)

In [15]:
population.count()

POPULATION    247
dtype: int64

In [16]:
population.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 247 entries, 2003-01-01 to 2023-07-01
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   POPULATION  247 non-null    float64
dtypes: float64(1)
memory usage: 3.9 KB

In [17]:
population.describe()

          POPULATION
count     247.000000
mean   315387.149798
std     13928.173534
min    289412.000000
25%    303600.500000
50%    316535.000000
75%    328606.500000
max    335329.000000

In [18]:
population.isna().sum()

POPULATION    0
dtype: int64

In [19]:
population.to_csv("Cleaned data/population.csv")

2. GDP (Gross Domestic Product)
   - The overall economic performance, as measured by GDP, can affect consumer confidence, income levels, and housing demand, all of which impact home prices.

In [20]:
gdp=pd.read_csv("GDP.csv")
gdp.rename(columns={'GDP':'GROSS DEMOSTRIC PRODUCT'},inplace=True)
gdp.set_index('DATE', inplace =True)
gdp

            GROSS DEMOSTRIC PRODUCT
DATE
2003-01-01                11174.129
2003-04-01                11312.766
2003-07-01                11566.669
2003-10-01                11772.234
2004-01-01                11923.447
...                             ...
2022-07-01                25994.639
2022-10-01                26408.405
2023-01-01                26813.601
2023-04-01                27063.012
2023-07-01                27623.543

[83 rows x 1 columns]

In [21]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

gdp.index = pd.to_datetime(gdp.index)

# Resampling
gdp = gdp.resample('M').ffill()

# Set the day of the index to 1
gdp.index = gdp.index.map(lambda x: x.replace(day=1))
gdp = gdp["2003-01-01":"2023-07-01"]

In [22]:
gdp.shape

(247, 1)

In [23]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 247 entries, 2003-01-01 to 2023-07-01
Data columns (total 1 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GROSS DEMOSTRIC PRODUCT  247 non-null    float64
dtypes: float64(1)
memory usage: 3.9 KB

In [24]:
gdp.describe()

       GROSS DEMOSTRIC PRODUCT
count               247.000000
mean              17536.723441
std                4091.442895
min               11174.129000
25%               14448.882000
50%               16728.687000
75%               20328.553000
max               27623.543000

In [25]:
gdp.to_csv("Cleaned data/gdp.csv")

3. MORTGAGE RATE
   - Fluctuations in mortgage rates affect affordability, which in turn influences the demand for housing and housing prices.

In [26]:
mortgage=pd.read_csv("MORTGAGE30US.csv",index_col=["DATE"])
mortgage.rename(columns={'MORTGAGE30US':'MORTGAGE RATE'},inplace=True)
mortgage

            MORTGAGE RATE
DATE
2003-01-01         5.9160
2003-02-01         5.8425
2003-03-01         5.7450
2003-04-01         5.8125
2003-05-01         5.4840
...                   ...
2023-03-01         6.5440
2023-04-01         6.3425
2023-05-01         6.4250
2023-06-01         6.7140
2023-07-01         6.8400

[247 rows x 1 columns]

In [27]:
mortgage.index=pd.to_datetime(mortgage.index)
mortgage=mortgage["2003-01-01":"2023-07-01"]

In [28]:
mortgage.shape

(247, 1)

In [29]:
mortgage.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 247 entries, 2003-01-01 to 2023-07-01
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MORTGAGE RATE  247 non-null    float64
dtypes: float64(1)
memory usage: 3.9 KB

In [30]:
mortgage.describe()

       MORTGAGE RATE
count     247.000000
mean        4.734370
std         1.135548
min         2.684000
25%         3.822500
50%         4.490000
75%         5.825000
max         6.900000

In [31]:
mortgage.to_csv("Cleaned data/mortgage.csv")

4. HOUSING STARTS (HOUST)
   - The number of new housing units under construction reflects current and future supply in the housing market, impacting home prices.

In [32]:
housing=pd.read_csv("HOUST.csv",index_col=['DATE'])
housing.rename(columns={'HOUST':'HOUSING STARTS'},inplace=True)
housing.head()

            HOUSING STARTS
DATE
2003-01-01          1853.0
2003-02-01          1629.0
2003-03-01          1726.0
2003-04-01          1643.0
2003-05-01          1751.0

In [33]:
housing.index=pd.to_datetime(housing.index)
housing=housing["2003-01-01":"2023-07-01"]

In [34]:
housing.shape

(247, 1)

In [35]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 247 entries, 2003-01-01 to 2023-07-01
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HOUSING STARTS  247 non-null    float64
dtypes: float64(1)
memory usage: 3.9 KB

In [36]:
housing.describe()

       HOUSING STARTS
count      247.000000
mean      1253.631579
std        455.086588
min        478.000000
25%        924.000000
50%       1224.000000
75%       1571.000000
max       2273.000000

In [37]:
housing.to_csv("Cleaned data/housing.csv")

5. MEDIAN SALES PRICE (MSPUS)
   - This directly reflects changes in the prices of homes sold within the market and serves as an indicator of market conditions.

In [38]:
mediansp=pd.read_csv('MSPUS.csv',index_col=['DATE'])
mediansp.rename(columns={'MSPUS':'MEDIAN SALES PRICE'},inplace=True)
mediansp.head()

            MEDIAN SALES PRICE
DATE
2003-01-01            186000.0
2003-04-01            191800.0
2003-07-01            191900.0
2003-10-01            198800.0
2004-01-01            212700.0

In [39]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"
mediansp.index = pd.to_datetime(mediansp.index)

# Resampling
mediansp = mediansp.resample('M').ffill()

# Set the day of the index to 1
mediansp.index = mediansp.index.map(lambda x: x.replace(day=1))
mediansp = mediansp["2003-01-01":"2023-07-01"]

In [40]:
mediansp.shape

(247, 1)

In [41]:
mediansp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 247 entries, 2003-01-01 to 2023-07-01
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MEDIAN SALES PRICE  247 non-null    float64
dtypes: float64(1)
memory usage: 3.9 KB

In [42]:
mediansp.describe()

       MEDIAN SALES PRICE
count          247.000000
mean        283285.829960
std          69392.011806
min         186000.000000
25%         228100.000000
50%         264800.000000
75%         320500.000000
max         479500.000000

In [43]:
mediansp.to_csv("Cleaned data/mediansp.csv")

6. HOMEOWNERSHIP RATE (RSAHORUSQ1565)
   - Changes in the homeownership rate can influence the balance of supply and demand in the housing market, impacting home prices.

In [44]:
horship=pd.read_csv('RHORUSQ156N.csv',index_col=['DATE'])
horship.rename(columns={'RHORUSQ156N':'HOMEOWNERSHIP RATE'},inplace=True)
horship.head()

            HOMEOWNERSHIP RATE
DATE
2003-01-01                68.0
2003-04-01                68.0
2003-07-01                68.4
2003-10-01                68.6
2004-01-01                68.6

In [45]:
# column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

horship.index = pd.to_datetime(horship.index)

# Resampling
horship = horship.resample('M').ffill()

# # Set the day of the index to 1
horship.index = horship.index.map(lambda x: x.replace(day=1))
horship = horship['2003-01-01':'2023-07-01']

In [46]:
horship.shape

(247, 1)

In [47]:
horship.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 247 entries, 2003-01-01 to 2023-07-01
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HOMEOWNERSHIP RATE  247 non-null    float64
dtypes: float64(1)
memory usage: 3.9 KB

In [48]:
horship.describe()

       HOMEOWNERSHIP RATE
count          247.000000
mean            66.194332
std              1.815216
min             62.900000
25%             64.800000
50%             65.900000
75%             67.900000
max             69.200000

In [49]:
horship.to_csv("Cleaned data/horship.csv")

7. UNRATE (Unemployment Rate)
   - Employment and income levels impact the ability and willingness of individuals to purchase homes, thus affecting home prices.

In [50]:
unemp=pd.read_csv('UNRATE.csv',index_col=['DATE'])
unemp.rename(columns={'UNRATE':'UNEMP RATE'},inplace=True)
unemp.head()

            UNEMP RATE
DATE
2003-01-01         5.8
2003-02-01         5.9
2003-03-01         5.9
2003-04-01         6.0
2003-05-01         6.1

In [51]:
unemp.index=pd.to_datetime(unemp.index)
unemp=unemp["2003-01-01":"2023-07-01"]

In [52]:
unemp.shape

(247, 1)

In [53]:
unemp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 247 entries, 2003-01-01 to 2023-07-01
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UNEMP RATE  247 non-null    float64
dtypes: float64(1)
memory usage: 3.9 KB

In [54]:
unemp.describe()

       UNEMP RATE
count  247.000000
mean     5.941700
std      2.047128
min      3.400000
25%      4.450000
50%      5.400000
75%      7.250000
max     14.700000

In [55]:
unemp.to_csv("Cleaned data/unemp.csv")